<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body >
<%- include('./partials/navbar.ejs')  %> 
<div class="container">
    <br>
    <br>
    All Recipes. Taking the top position is All Recipes, a top-tier recipe website that is estimated to have over 25 million visitors each month. ...
    The Food Network. Another outstanding player in the culinary game is The Food Network. ...
    Yummly. ...
    Epicurious. ...
    Tasty. ...
    Spoonacular. ...
    Delish. ...
    Edamam.
    </div>
</body>
</html>